<div class="row">
    <div class="col-sm-4 col-12 text-center"><a href="https://www.uni-mainz.de"><img class="img-fluid"
                                                                                     src="{{ url_for("static", filename="jgu.png") }}"
                                                                                     alt="JGU" title="JGU"></a>
    </div>
    <div class="col-sm-8 col-12">
        <h4>{{ ahs_project_title|safe }}</h4>
        <p>
            {{ ahs_project_text|safe }}
        </p>
    </div>
</div>