<div class="row mt-5">
    <div class="col-sm-4 col-12 text-center"><a href="https://bwinf.de/"><img class="img-fluid w-50"
                                                                              src="{{ url_for("static", filename="BWinf38_image.jpg") }}"
                                                                              alt="BWinf" title="BWinf"></a>
    </div>
    <div class="col-sm-8 col-12">
        <h4>{{ facharbeit_project_title|safe }}</h4>
        <p>
            {{ facharbeit_text|safe }}
            <br/>
            <a href="{{ url_for("static", filename="Facharbeit.pdf") }}">Research Paper</a>
        </p>
    </div>
</div>