<h3 class="mt-3 ml-3">Personal Projects</h3>
<hr>
{% include "portfolio/personal_projects/ahs_project.html" %}
{% include "portfolio/personal_projects/facharbeit.html" %}
<p class="mt-3 mb-3">
    <a class="text-dark" data-toggle="collapse" href="#collapseProjects" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        <h5 class="ml-5">Show More Projects</h5>
    </a>
</p>
<div class="collapse" id="collapseProjects">
    {% include "portfolio/personal_projects/ioi_qualifikation.html" %}
</div>

<div class="row mt-5">
    <div class="col">
        <h4>{{ data_science_title }}</h4>
        {{ data_science_description|safe }}
        {% include "portfolio/personal_projects/covid_tweets.html" %}
        <hr>
        {% include "portfolio/personal_projects/nyc_map.html" %}
    </div>
</div>
<div class="row mt-5">
    <a href="https://www.kaggle.com/tobiasbueck"> {{ kaggle_profile }}</a>
</div>
<div class="row mt-5 ml-4 mr-1">
    <div class="col-md-10 col-12">
        {% include "draw_app.html" %}
    </div>
    <div class="col-md-2 col-12">

    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <h3>{{ nlp_blog_title }}</h3>
        <a href="{{ url_for("blog_nlp", language_code="en") }}">
            <img class="img-fluid mt-3 mb-3"
                 src="{{ url_for("static", filename="nlp-blog/tripadvisor.png") }}"
                 alt="Tripadvisor">
        </a>
        {% include "portfolio/trip_advisor_review/trip_advisor_review.html" %}
        <br/>
        <a class="mt-3" href="{{ url_for("blog_nlp", language_code="en") }}">{{ nlp_blog_title }}</a>
    </div>
</div>


