<link rel="stylesheet" href="{{ url_for("static", filename="draw2.css") }}">
<style>
    /* Tooltip container */
    .my_tooltip {
        position: relative;
        display: inline-block;
    }

    /* Tooltip text */
    .my_tooltip .my_tooltiptext {
        min-width: 200px;
        visibility: hidden;
        background-color: rgba(103, 103, 103, 0.4);
        color: #fff;
        text-align: center;
        padding: 8px;
        border-radius: 6px;

        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .my_tooltip:hover .my_tooltiptext {
        visibility: visible;
    }
</style>

<div class="row">


    <h1>An Apple A Day Keeps The Doctor Away!</h1>
    <img width=600 class="img-fluid" alt="apfel image"
         src="https://www.miritz.com/fileadmin/_processed_/6/2/csm_miritz-apfel-header_96089c2096.jpg">
</div>

<br/>
<h3 class="text-secondary ml-5">Draw an apple!</h3>

<div class="mb-3" id="draw">
    <div class="row text-center">
        <div class="col">
            <div class="row">
                <h3 class="text-warning">If you can not draw, click reset!</h3>
            </div>
            <div class="row">
                <canvas class="mt-5 mb-5" id="canvas-display" width="280"
                        height="280"></canvas>
            </div>
            <div class="row mb-5">
                <div class="my_tooltip">
                    <a class="d-none d-md-block"
                       href="https://web.whatsapp.com/send/?text=Can you Draw an Apple? https://www.itman.solutions/draw/"
                       target="_blank">
                        <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
                    </a>

                    <a class="d-sm-block d-md-none"
                       href="whatsapp://send?text=Can you Draw an Apple? https://www.itman.solutions/draw/"
                       data-action="share/whatsapp/share"
                       target="_blank">
                        <i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i>
                    </a>
                    <span id="my_tooltiptext" class="my_tooltiptext">Let your friends draw an apple!</span>
                </div>

            </div>
            <div class="row">
                <h3 id="loading_apple"></h3>
            </div>
            <div class="row">
                <h3 id="is_apple"></h3>
            </div>
            <div class="row">

                <button class="btn btn-dark ml-5 mr-2" onclick="save();">Save</button>
                <button class="btn btn-dark" onclick="location.reload(true);">Reset</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    let isDrawing = false;
    let canvas = document.getElementById("canvas-display");
    let cntxt = canvas.getContext("2d");
    var rect = canvas.getBoundingClientRect();
    let c_top = rect.top;
    let c_left = rect.left;
    initializeCanvas();

    function initializeCanvas() {
        cntxt = document.getElementById("canvas-display").getContext("2d");
        cntxt.lineCap = "round";
        cntxt.lineWidth = 10;
        //Fill it with white background
        cntxt.save();
        cntxt.fillStyle = '#fff';
        cntxt.fillRect(0, 0, cntxt.canvas.width, cntxt.canvas.height);
        cntxt.restore();
    }

    function startDrawing(positionX, positionY) {
        isDrawing = true;
        cntxt.beginPath();
        cntxt.moveTo(positionX, positionY);
    }

    function endDrawing(positionX, positionY) {
        isDrawing = false;
        cntxt.lineTo(positionX, positionY);
        cntxt.stroke();
        cntxt.closePath();
    }

    function drawTo(positionX, positionY) {
        cntxt.lineTo(positionX, positionY);
        cntxt.stroke();
    }

    canvas.addEventListener("touchstart", function (e) {
        disableScroll();
        let t = e.touches[0]
        startDrawing(t.pageX - c_left, t.pageY - c_top);
    })
    canvas.addEventListener("touchmove", function (e) {
        console.log("Move")
        console.log(e);
        let t = e.touches[0]
        drawTo(t.pageX - c_left, t.pageY - c_top);
    })
    canvas.addEventListener("touchend", function (e) {
        save();
        enableScroll()
        console.log("End");
        let t = e.touches[0]
        endDrawing(t.pageX - c_left, t.pageY - c_top);
    })


    canvas.addEventListener("mousedown", function (e) {
        if (e.button === 0) {
            startDrawing(e.pageX - c_left, e.pageY - c_top)
        }
    })
    canvas.addEventListener("mouseup", function (e) {
        if (e.button === 0) {
            endDrawing(e.pageX - c_left + 1, e.pageY - c_top + 1);
            save();
        }
    })
    canvas.addEventListener("mousemove", function (e) {
        if (isDrawing) {
            drawTo(e.pageX - c_left + 1, e.pageY - c_top + 1);
        }
    })

</script>
<script>
    function disableScroll() {
        // Get the current page scroll position
        scrollTop =
            window.pageYOffset || document.documentElement.scrollTop;
        scrollLeft =
            window.pageXOffset || document.documentElement.scrollLeft,

        // if any scroll is attempted,
        // set this to the previous value
        window.onscroll = function () {
             window.scrollTo(scrollLeft, scrollTop);
        };
    }

    function enableScroll() {
        window.onscroll = function () {
        };
    }
</script>
<script type="text/javascript">


    function save() {
        isLoadingApple = true
        var can = document.getElementById("canvas-display")
        var ctx = can.getContext("2d")
        var img = ctx.getImageData(0, 0, 280, 280)
        var data = new FormData();
        data.append("data", img.data.toString());
        var xhr = (window.XMLHttpRequest) ? new XMLHttpRequest() : new activeXObject("Microsoft.XMLHTTP");
        xhr.open('post', '{{url_for("draw_game_apple")}}', true);
        xhr.send(data);
        xhr.onload = function () {
            document.getElementById("is_apple").innerText = xhr.responseText
            isLoadingApple = false
            document.getElementById("my_tooltiptext").style.visibility = "visible";
            setTimeout(function () {
                document.getElementById("my_tooltiptext").style.visibility = "hidden";
            }, 2000);
        }
    }

    let isLoadingApple = false;
    let loading_element_apple = document.getElementById("loading_apple")
    let apple_i = 0;
    setInterval(function () {
        if (isLoadingApple) {
            apple_i++;
            apple_i = apple_i % 5
            loading_element_apple.innerText = Array(apple_i + 1).join(".")
        } else {
            loading_element_apple.innerText = ""
        }
    }, 200)
</script>
