<link rel="stylesheet" href="{{ url_for("static", filename="draw2.css") }}">
<h1>An Apple A Day Keeps The Doctor Away!</h1>
<br/>
<h3 class="text-secondary ml-5">Draw an apple!</h3>
<div class="" id="draw">
    <div class="row text-center">
        <div class="col">
            <div class="row">
                <canvas class="mt-5 mb-5" id="canvas-display" width="280"
                        height="280"></canvas>
            </div>
            <div class="row">
                <h3 id="loading_apple"></h3>
            </div>
            <div class="row">
                <h3 id="is_apple"></h3>
            </div>
            <div class="row">
                <button class="btn btn-primary ml-5" onclick="save();">Save</button>
                <button class="btn btn-primary" onclick="location.reload(true);">Reset</button>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('#canvas-display').paintBrush();
    });
    (function ($) {
        $.fn.paintBrush = function (options) {
            var undoHistory = [];
            var settings = {
                    'targetID': 'canvas-display'
                },

                $this = $(this),
                o = {},
                ui = {},

                core = {
                    init: function (options) {
                        ui.$loadParentDiv = o.targetID;
                        core.draw();
                        //core.toggleScripts();
                    },

                    canvasInit: function () {
                        context = document.getElementById("canvas-display").getContext("2d");
                        context.lineCap = "round";
                        context.lineWidth = 10;
                        //Fill it with white background
                        context.save();
                        context.fillStyle = '#fff';
                        context.fillRect(0, 0, context.canvas.width, context.canvas.height);
                        context.restore();
                    },

                    saveActions: function () {
                        var imgData = document.getElementById("canvas-display").toDataURL("image/png");
                        undoHistory.push(imgData);
                        $('#undo').removeAttr('disabled');

                    },


                    draw: function () {
                        var canvas, cntxt, top, left, draw, draw = 0;
                        canvas = document.getElementById("canvas-display");
                        cntxt = canvas.getContext("2d");
                        top = $('#canvas-display').offset().top;
                        left = $('#canvas-display').offset().left;
                        core.canvasInit();
                        //Drawing Code

                        $('#canvas-display').mousedown(function (e) {
                            if (e.button == 0) {
                                draw = 1;
                                core.saveActions(); //Start The drawing flow. Save the state
                                cntxt.beginPath();
                                cntxt.moveTo(e.pageX - left, e.pageY - top);
                            } else {
                                draw = 0;
                            }
                        })
                            .mouseup(function (e) {
                                if (e.button != 0) {
                                    draw = 1;
                                } else {
                                    draw = 0;
                                    cntxt.lineTo(e.pageX - left + 1, e.pageY - top + 1);
                                    cntxt.stroke();
                                    cntxt.closePath();
                                }
                                save();
                            })
                            .mousemove(function (e) {
                                if (draw == 1) {
                                    cntxt.lineTo(e.pageX - left + 1, e.pageY - top + 1);
                                    cntxt.stroke();
                                }

                            });

                    },


                    toggleScripts: function () {
                        $('#colors').slideToggle(400);
                        $('#control-buttons').toggle(400);
                    }
                };

            $.extend(true, o, settings, options);

            core.init();

        };
    })(jQuery);


</script>
<script type="text/javascript">
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }

    function save() {
        isLoadingApple = true
        var can = document.getElementById("canvas-display")
        var ctx = can.getContext("2d")
        var img = ctx.getImageData(0, 0, 280, 280)
        var data = new FormData();
        data.append("data", img.data.toString());
        var xhr = (window.XMLHttpRequest) ? new XMLHttpRequest() : new activeXObject("Microsoft.XMLHTTP");
        xhr.open('post', '{{url_for("draw_game_apple")}}', true);
        xhr.send(data);
        xhr.onload = function () {
            document.getElementById("is_apple").innerText = xhr.responseText
            isLoadingApple = false
        }
    }

    let isLoadingApple = false;
    let loading_element_apple = document.getElementById("loading_apple")
    let apple_i = 0;
    setInterval(function () {
        if (isLoadingApple) {
            apple_i++;
            apple_i = apple_i % 5
            loading_element_apple.innerText = Array(apple_i + 1).join(".")
        } else {
            loading_element_apple.innerText = ""
        }
    }, 200)
</script>
